body{
  background: #dc9df2;
  margin: 50px;
}
.Netherscape{
  position: absolute;
  margin-left: 72px;
  display: flex;
  flex-direction: row;
  flex-wrap: Space-evenly;
  justify-content: ;
  padding: 25px;
  background: #a3a3a3
}
.portal{
  margin:12px;
  background: #4a2f52;
  Height:260px;
  width: 200px;
  padding: 20 px;
  
}

.portal-depth{
  margin: 6px;
  background: #000000;
}